.reviews {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  h1 {
    font-size: 2rem;
    padding-left: 20px;
  }
}

.reviews--movie {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 1rem;
  li {
    margin-top: 0.5rem;
    padding: 10px 0px;
    color:#bbbbbb;
    border-top: solid 0.5px #bbbbbb;
  }
}
